<!-- Footer Section of the website -->

  <footer class="footer">
      <p>&copy;Copyright 2022. ALL RIGHTS RESERVED TO CHRISTINA CHO.
        <a href="https://linkedin.com/"><i class="fa-brands fa-linkedin"></i></a>
        <a href="https://github.com/"><i class="fa-brands fa-github"></i></a>
      </p>
     
  </div>
    </footer>

<!-- Script Files -->
  <script src = '/Scripts/app.js'></script>
  <script src = '/bootstrap/dist/js/bootstrap.min.js'></script>
  <script src = '/jquery/dist/jquery.min.js'></script>
</body>
</html>