<!-- Footer Section of the website -->

  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class="navbar-text">&nbsp; &copy; Copyright 2022. ALL RIGHTS RESERVED TO CHRISTINA CHO. </h6>
  </nav>

<!-- Script Files -->
  <script src = '/Scripts/app.js'></script>
  <script src = '/bootstrap/dist/js/bootstrap.min.js'></script>
  <script src = '/jquery/dist/jquery.min.js'></script>
</body>
</html>