<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>
<header>
<div class = "top-of-page">
    <p>About Me</p>
    </div>
    <hr class="line">
</header>
<main>
    <div class = "container-1">
        <div class="picture">
            <img src="../Assets/imgs/tina.jpg" alt="Tina" />
        </div>
    </div>
    <div class = "container-1">
        <article>
            <p>Hi, nice to meet you I am an aspiring Networking Security student.Cyber Security 
                has been a personal interest of mines. The Cyber Security field
                has grown exponentially in part due to assets and personal information, such that it is
                becoming a part of the World Wide Web. 
            </p><br>
            <p>Currently attending Ontario Tech University for 
                Bachelors in Networking and Information Technology Security.
            </p>
        </article>
    </div>
    <div class="container-1">
        <a href="/projects" class="btn btn-primary" role="button"> See My Projects </a>
    </div>
</main>

<%- include ('partials/footer.ejs') %>