<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<header>
    <div class = "top-of-page">
    <p>Home</p>
    </div>
    <hr class="line">
</header>
<main>
    <div class = "container-1">
        <div class="picture">
            <img src="../Assets/imgs/tina.jpg" alt="Tina" />
        </div>
    </div>
    <div class = "container-1">
        <article>
            <p>Asociates Degree in</p><br>
            <p>Information Technology, Clarance Fitzroy College.</p>
            <br>
            <p>Bachelors of Networking and Cyber Security Student at</p><br>
            <p>Ontario Tech Universiry.</p>
            
        </article>
    </div>
    <div class = "container-1">
        <a href="/about" class="btn btn-primary" role="button">Find More About Me</a>
    </div>
</main>



<%- include ('partials/footer.ejs') %>