<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<header>
    <div class = "top-of-page">
    <p>Home</p>
    </div>
    <hr class="line">
</header>
<main>
    <div class = "container-1">
        <div class="picture">
            <img src="../Assets/imgs/tina.jpg" alt="Tina" />
        </div>
        <div class="words">
            <p>Asociates Degree in Information Technology, Clarance Fitzroy College.</p>
            <p>Bachelors of Networking and Cyber Security Student, Ontario Tech Universiry.</p>
            
        </div>
        <a href="/about" class="btn btn-primary btn-lg">See more about me</a>
    </div>
</main>



<%- include ('partials/footer.ejs') %>