<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<header>
    <div class = "top-of-page">
    <p>Home</p>
    </div>
    <hr class="line">
</header>
<main>
    <div class = "container-1">
        <div class="picture">
            <img src="../Assets/imgs/tina.jpg" alt="Tina" />
        </div>
        <div class="words">
            <p>Hi, nice to meet you I am an aspiring networking securites student.Cyber Security 
                has been a personal interest of mines. The Cyber Security field
                has grown exponentially in part due to assets and personal info
                becoming apart of the World Wide Web. 
           
            </p>
            <p>Currently attending Ontario Tech University for 
                bachelors in Networking and Computer Security.
            </p>
            <div class ="goto">
                <p>Goto...</p>
            </div>
            <a href="/about" class="btn btn-primary btn-lg">About me</a>
            <a href="/projects" class="btn btn-primary btn-lg">Projects</a>
            <a href="/contact" class="btn btn-primary btn-lg">Contact Me</a>
        </div>
    </div>
</main>



<%- include ('partials/footer.ejs') %>