<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<!-- Main Section of the website -->
<div class="container">
    <h1>Welcome to the <%= title %> page</h1>
</div>

<main>
    <div class="contain">
        <div class="main">
            <h3>Test</h3>
            <p>
                Lorem
            </p>
            </article>
        </div>

        <div class="main">
            <h3>Test2</h3>
            <p>
                Lorem
            </p>
            </article>
        </div>

        <div class="main">
            <h3>Test3</h3>
            <p>
                Lorem
            </p>
            </article>
        </div>
    </div>
</main>

<%- include ('partials/footer.ejs') %>
