<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<header>
    <div class = "top-of-page">
        <p>Projects</p>
        </div>
        <hr class="line">
    </header>
<main>
    <div class="contain">
        <div class="main">
            <div class="picture">

            </div>
            <h3>Test</h3>
            <p>
                Lorem
            </p>
            </article>
        </div>

        <div class="main">
            <div class="picture">
                
            </div>
            <h3>Test2</h3>
            <p>
                Lorem
            </p>
            </article>
        </div>
    </div>
</main>

<%- include ('partials/footer.ejs') %>