<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<header>
    <div class = "top-of-page">
        <p>Projects</p>
        </div>
        <hr class="line">
    </header>
<main>
    <div class="container-1">
        <div class="picture">
            <img src="../Assets/imgs/Prothetics.jpg" alt="Prothetics" />
        </div>
    </div>
    <div class="container-1">
        <h3>Prosthetics</h3>
        <article>
            <p>
                During my college days
            </p><br>
            <p>
                I was involved in a Prothetics Project which aims to provide 
                a cheaper option for patients who went through amputation for
                 various reasons. 
            </p>
        </article>
    </div>

    <div class="container-1">
        <div class="picture">
            <img src="../Assets/imgs/robots.jpg" alt="Robots" />
        </div>
    </div>
    <div class="container-1">
        <h3>Robotics</h3>
        <article>
            <p>
                During my college days
            </p><br>
            <p>
                I was involved in FIRST Global Challenge which aims to gather 
                the younger people around the world to provide a solution to 
                solve problems that affects the world. That includes environment, 
                resources and others. I attended the challenge representing my 
                country St. Kitts and Nevis, as the engineer and driver of our 
                robot who is named Gambino in the year 2018.
            </p>
        </article>
    </div>
    <div class="container-1">
        <a href="/contact" class="btn btn-primary" role="button"> Contact Me </a>
    </div>
</main>

<%- include ('partials/footer.ejs') %>