@charset "UTF-8";
/* This file applies to everything on the page. 
 * sets all default margin and padding to 0 unless overridden  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  padding: 50px;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  background-image: linear-gradient(to bottom, #EB6123, #171318);
  min-height:100vh;
  display:flex;
  flex-direction: column;
}

main {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* .main {
  display: flex;
  max-width: 300px;
} */

.contain {
  padding-top: 80px;
  padding-bottom: 50px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  overflow: hidden;
}

h1 {
  color: white;
  padding-top: 10vh;
}

p {
  color: white;
  padding: 2vh;
}

a {
  color: #ffffff;
}
/*
Need separate
*/
.header {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 50%;    
}

.container {
  text-align: center;
  vertical-align: middle;
  margin: 200px 0;
}
img {
  width: 300px;
  height: auto;
  border-radius: 50%;
}

.picture{
  float:right;
}
.container-1{
  padding-top: 25px;;
  padding-right: 280px;
  padding-bottom: 50px;
  padding-left: 280px;
}
.top-of-page{
  text-align: center;
  font-size: 50px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
hr.line {
  border-top: 3px solid #bbb;
}

/*
Need Separate
*/

#home_design {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-evenly;
  padding-top: 200px;
}
#intro h4 {
  margin-bottom: 30px;
}
#intro h1 {
  margin-bottom: 20px;
  font-size: 90px;
}

#intro p {
  margin-left: 180px;
  margin-top: 20px;
  font-size: 15px;
}
#pic img {
  width: 250px;
  border-radius: 50%;
}

.btn{
  background-color: #eb6123;
  color: #ffffff;
}

.btn :hover{
  background-color: #e9804d;
  color: #ffffff;
}
.btn :hover #body{
  background-color: #e9804d;
  color: #ffffff;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #18181a;
  color: #ffffff;
}

.btn-primary, .btn-primary:visited {
  background-color: #eb6123 !important;
  font-weight: bold !important;
  font-size: 30px !important;
  padding: 1vh 3vh !important;
  color: #ffffff !important;
  border-color: transparent !important;
}
.btn-primary:hover, .btn-primary:active{
  font-weight: bold !important;
  font-size: 30px !important;
  background-color: #18181a !important;
  color: #ffffff !important;
  border-color: transparent !important;
}

.btn-info:hover, .btn-info:active{
  background-color: #eb6123 !important;
  color: #ffffff !important;
  border-color: transparent !important;
}

article{
  padding: 0;
  text-align: center;
  width: 100vh;
  margin-right: 65px;
}

article p{
  font-family: Helvetica, Arial, sans-serif;
  inline-size: 950px; 
  overflow-wrap: break-word;
  padding: 0;
  margin: 0;
  font-size: 20px;
}